//
//  Android.xcconfig
//  UIKit
//
//  Created by Chen Yonghui on 12/6/13.
//  Copyright (c) 2013 Shanghai Tinynetwork Inc. All rights reserved.
//

SDK_ROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/Android18.sdk
SDK_LIB_PATH=$(SDK_ROOT)/usr/lib

DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH =$(SDK_ROOT)/System/Library/Frameworks/
OTHER_LDFLAGS= -shared $(inherited) -Wl,-z,defs -lgnustl_shared -ldispatch -lobjc 
OTHER_CFLAGS= $(inherited) -DANDROID=1 -fblocks

LD_DEPENDENCY_INFO_FILE=
MACOSX_DEPLOYMENT_TARGET =

